@mixin center-vertical() {
  top: 50%;
  transform: translate(0, -50%);
}

.SearchBar{
    align-content: center;
}

.SearchBar-header {
    align-content: center;
    background-color: #00BCD4;
    width: 50%;
    display: inline-flex;
    padding: 1% 2%;
    margin: 5% 10%;
    // margin: auto;
}

::placeholder {
    color:white;
}

.SearchBar-input {
    background-color: #00BCD4;
    color: white;
    font-size: 160%;
    // text-align: left;
    width: 90%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

button {
    background-color: #00BCD4;
    border: 0px;
}