$primary-color: #00BCD4;
$text-color: white;

@mixin center-vertical() {
  top: 50%;
  transform: translate(0, -50%);
}

.SearchBar{
    align-content: center;
}

.SearchBar-header {
    align-content: center;
    background-color: $primary-color;
    width: 50%;
    display: inline-flex;
    padding: 1% 2%;
    margin: 5% 10%;
}

::placeholder {
    color: $text-color;
}

.SearchBar-input {
    background-color: $primary-color;
    color: $text-color;
    font-size: 160%;
    width: 90%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

button {
    background-color: $primary-color;
    border: 0px;
}